.menu-container {
    position: relative;
    width: 100%;
    z-index: 5;
   
}

.menu-toggle {
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    display: none;
    color: white;
}

.menu {
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transition: left 0.3s;
}

.menu.active {
    left: 0;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7f3ff;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
}

.club {
    color: gray;
    font-size: 14px;
}

.menu-close {
    font-size: 24px;
    cursor: pointer;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-items li {
    border-bottom: 1px solid #ddd;
}

.menu-items li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
}

.menu-items li a:hover {
    background-color: #f0f0f0;
}

.badge {
    background-color: #ff0000;
    color: white;
    border-radius: 12px;
    padding: 2px 8px;
    font-size: 12px;
    margin-left: 5px;
}
/* ----- */



@media (max-width: 767px) {
    .menu-toggle {
        display: block;
       
    }
    .container nav{
        display: none;
    }
    .menu {
        height: 100em !important;

    }
}